html,body{
    padding: 0;
    margin: 0;
}

*{
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    color: #fff;
}

/* **************   NOW PLAYING BAR CONTAINER   ************* */
#nowPlayBarContainer{
    background: #1e1c1c;
    width: 100%;
    height: 100px;
    bottom: 0;
    position: fixed;
}

#nowPlayingBar{
    height: 90px;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight{
    min-width: 180px;
    width: 30%;
}

#nowPlayingCentre{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingCentre .content{
    width: 100%;
}

.playerControls .buttons{
    margin: 0 auto;
    display: table;
}

.playerControls .controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

.controlButton img{
    width: 25px;
    height: 25px;
}

.controlButton.play img,
.controlButton.pause img{
    width: 35px;
    height: 35px;
}

.progressTime{
    color:#a0a0a0;
    font-size:11px;
    font-family:cursive;
    min-width:40px;
}

.playBackBar{
    display:flex;
}

.progressBar{
    width:100%;
    height:12px;
    display:inline-flex;
    cursor:pointer;
    margin-top:5px;
    margin-right:15px;
}

.progressBar .progressBarBg{
    width:100%;
    height:4px;
    background:#404040;
    border-radius:2px;
}

.progressBarBg .progress{
    height:4px;
    width:0%;
    background:#a0a0a0;
    border-radius:2px;
}

#nowPlayingLeft.content{
    width: 100%;
    height: 57px;
}

#nowPlayingLeft img{
    height: 100%;
    width: 100%;
    max-width: 57px;
    margin-left: 15px;
    margin-right: 15px;
    background-size: cover;
    float: left;
}

#nowPlayingLeft .trackInfo{
    display: table;
}

#nowPlayingLeft .trackInfo .trackName{
    display: inline-block;
    width: 100%;
    margin: 6px 0;
}

#nowPlayingLeft .trackInfo .artistName span{
    font-size: 12px;
    color: #a0a0a0;
}

#nowPlayingRight .volumeBar{
    position: absolute;
    right: 25px;
    margin-top: 3px;
}

#nowPlayingRight .volumeBar .progressBar{
    width: 180px;
    display: inline-block;
    margin-top: 15px;
}

#nowPlayingRight .volumeBar button{
    background: transparent;
    border: none;
    margin-top: 20px;
}

/* **************** NAV BAR CONTAINER ****************** */
#navBarContainer{
    background: #000;
    width: 16%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar{
    padding: 20px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.navBar .logo img{
    width: 38px;
}

#navBarContainer .group{
    border-top: 2px solid #a0a0a0;
    padding: 10px 0;
}

#navBarContainer .group .navItem{
    padding: 15px;
    letter-spacing: 1px;
    position: relative;
}

#navBarContainer .group .navItemLink{
    text-decoration: none;
    color: #a0a0a0;
}

#navBarContainer .group .navItemLink:hover{
    color: #fff;
    font-size: 15px;
}

#navBarContainer .group .navItem .searchIcon{
    width: 25px;
    position: absolute;
    right: 15px;
    top: 10px;
}